.all{
    height: 200px;
    width: 155px;
    }
#one{
   background-color: pink;
    border-radius: 100px;
    width: 200px;
    height: 299px;
    border-style: solid;
    }
#one h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 8;

}
#one{
    float:right;
}
#two{
   background-color: yellow;
    height: 144px;
    font-size:30px;
    border-style: solid;
    }
#two{
    float:right;
}
#three{
   background-color: blue;
    height:194px;
    width:194px;
    font-size:30px;
    border-style: solid;
    }
#three{
    text-align:left;
}
#four{
   background-color: red;
    height:160px;
    font-size:30px;
    border-style: solid;
    }
.four h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 6;
}
#four{
    float:left;
}
#five{
   background-color: orange;
    border-radius: 100px;
    width: 299px;
    height: 200px;
    border-style: solid;
    }
#five{
    float:left;
}
#five h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 5;
}
#six{
   background-color: green;
    border-radius: 144px;
    width: 100px;
    height: 100px;
    border-style: solid;
    float: right;
}
#six h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 2;
}
#seven{
   background-color: purple;
    border-radius: 144px;
    width: 300px;
    height: 300px;
    border-style: solid;
    float:left;
    }
#seven h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 8;
}